version: '3.9'
services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file: .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - spring-network

  app:
    build: .
    container_name: mi_informe_guaviare_app
    restart: always
    env_file: .env
    ports:
      - "8084:8084"
    networks:
      - spring-network
    depends_on:
      - postgres

volumes:
  postgres_data:

networks:
  spring-network:
    driver: bridge
